@using BuildingManagement.Entities.Models
@model Apartment

@{
    ViewBag.Title = "Details";
}

<nav class="navbar navbar-inverse " style="margin-top: 20px; border-radius: 15px; background-color: #232c40;">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="~/Dueses/index"><span class="glyphicon glyphicon-home"></span></a></li>
                <li><a href="~/Apartments/index">Apartments</a></li>
                <li><a href="~/Messages/index">Messages</a></li>
                <li><a href="~/Roles/index">Roles</a></li>
                <li><a href="~/Users/index">Users</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/Authorize/Logout" onclick="alert('The Session Is Closed.')"><span class="glyphicon glyphicon-log-out"></span></a></li>
            </ul>
        </div>
    </div>
</nav>

<h2>Details</h2>
@if(ViewBag.Role == "Admin")
{
<div>
    <h4>Apartment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Block)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Block)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FloorLocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FloorLocation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Number)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id } , new { @class = "btn btn-warning" }) |
    @Html.ActionLink("Back to List", "Index",null, null, new { @class = "btn btn-primary" })
</p>
}
else
{
    <p>
        You are not authorized to access this page.
    </p>
}
